<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <title>Chart.js++ - User Manual</title>

    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/usermanual.css">
    <link rel="stylesheet" href="/css/default.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/8d62299fba.js" nonce="<%= nonce %>" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Navbar -->
    <%- include('navbar.ejs', {"pageName":"home"}) %>

    <!-- dark mode switch -->
    <%- include('dark.ejs') %>

    <div class="page-wrapper">
        <div class="doc-wrapper">
            <div class="container">

                <!-- doc-header -->
                <div id="doc-header" class="doc-header">
                    <h1 class="doc-title">Chart.js++ - User Manual</h1>
                    <div class="doc-subtitle">
                        &nbsp;<i class="far fa-clock"></i>
                        &nbsp;Last updated: November 20th 2022
                    </div>
                </div>

                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">

                            <!-- doc-section-->
                            <section id="signup-section" class="doc-section">
                                <h2 class="section-title">Create an Account</h2>
                                <div class="section-block">
                                    <p>
                                        By having an account on Chart.js++ the user will get access to additional
                                        features
                                        such as save and share charts. In order to
                                        create an Chart.js++ account, the user should have an email address which does
                                        not have an active Chart.js++ account (there may be deleted accounts for an
                                        email). Follow these steps to sign up to the system.
                                    </p>
                                    <div id="signup" class="section-block">
                                        <h4>Sign up</h4>
                                        <ul>
                                            <li>
                                                Visit the signup page
                                                <a href="/signup" class="btn btn-purple" target="_blank">
                                                    Sign Up
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                Fill in the email, first and last names, password and confirmation, then
                                                clcik Login button or press <b>Enter</b>. Then, an account activation
                                                link will be sent to the entered email address.
                                                <i><b>This link will expire in an hour. Therefore follow the remaining
                                                        steps before it expires</b></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="activate-account" class="section-block">
                                        <h4>Activate acount</h4>
                                        <ul>
                                            <li>
                                                Click on the account activation link in the email. It will redirect to
                                                the
                                                account activation page.
                                            </li>
                                            <li>
                                                Enter the password again in the account activation page to confirm the
                                                account activation.
                                            </li>
                                        </ul>
                                    </div>
                                    <p>
                                        The account should be activated now and the user should be able to login with
                                        their account credentials.
                                    </p>
                                </div>
                            </section>

                            <!-- doc-section-->
                            <section id="signin-section" class="doc-section">
                                <h2 class="section-title">Login to an Account</h2>
                                <div class="section-block">
                                    <p>
                                        Once an account is created, the user can login to the system using that account.
                                        Follow these steps to sign in to the system.
                                    </p>
                                    <div id="login" class="section-block">
                                        <h4>Sign in</h4>
                                        <ul>
                                            <li>
                                                Visit the Login page
                                                <a href="/login" class="btn btn-purple" target="_blank">
                                                    Sign In
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                Fill in the email and password, then clcik Login button or press
                                                <b>Enter</b>. If the credentials are correct,
                                                the user will be redirected to the dashboard page. Otherwise, the user
                                                will
                                                be notified about the failure.
                                            </li>
                                        </ul>
                                        <p>
                                            The user may log in from the login prompt that pops up when the user tries
                                            to
                                            perform a task that requires the user to be logged in. When the login popup
                                            asks
                                            for the credentials, enter the login credentials and submit. If the
                                            credentials
                                            are correct, the user will be able to perform the task that required login.
                                            Otherwise, the user will be notified about the failure.
                                        </p>
                                    </div>
                                    <div id="forgot-password" class="section-block">
                                        <h4>Frogot password</h4>
                                        <p>
                                            If the user forgot their password, it can be reset using the email address.
                                            In order to reset the Chart.js++ account password, the user should have
                                            access to the email address which was used to create the Chart.js++ account.
                                            Follow these steps to reset the account password.
                                        </p>
                                        <ul>
                                            <li>
                                                Visit the Login page
                                                <a href="/login" class="btn btn-purple" target="_blank">
                                                    Sign In
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                Click the Forgot Password? button. It will redirect you to the Forgot
                                                Password page.
                                            </li>
                                            <li>
                                                Enter the email address of the account, and submit the form. Then, a
                                                password reset link will be sent to the entered email address.
                                                <i><b>This link will expire in 15 minutes. Therefore follow the
                                                        remaining steps before it expires</b></i>.
                                            </li>
                                            <li>
                                                Click on the password reset link in the email. It will redirect to the
                                                password reset page.
                                            </li>
                                            <li>
                                                Enter a new password and a password confirmation in the password reset
                                                page and submit.
                                            </li>
                                        </ul>
                                        <p>
                                            If the new password is valid and matching, the account password should be
                                            updated with the new password, and the user will be notified and redirected
                                            to the login page. Otherwise, the user will be notified about the failure.
                                        </p>
                                    </div>
                                </div>
                            </section>

                            <!-- doc-section-->
                            <section id="account-section" class="doc-section">
                                <h2 class="section-title">Account Settings</h2>
                                <div class="section-block">
                                    <div id="update-account" class="section-block">
                                        <h4>Update account details</h4>
                                        <p>
                                            The user can change their account details except the email address. For
                                            that, the user must log in to the system. To change the account name,
                                        </p>
                                        <ul>
                                            <li>
                                                Visit the accounts page.
                                                <a href="/account" class="btn btn-purple" target="_blank">
                                                    Account
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                Select the <b>Account Details</b> section. (this should be selected when
                                                the page is opened)
                                            </li>
                                            <li>
                                                Edit the fields you need to update.
                                            </li>
                                            <li>
                                                Enter the account password, then clcik Update button or press
                                                <b>Enter</b>.
                                            </li>
                                        </ul>
                                        <p>
                                            If the names are valid and the password is correct, the name will be updated
                                            and the user will be notified. Otherwise, the user will be notified about
                                            the failure.
                                        </p>
                                    </div>
                                    <div id="change-password" class="section-block">
                                        <h4>Change account password</h4>
                                        <p>
                                            The user can change their account password. For
                                            that, the user must log in to the system. To change the account password,
                                        </p>
                                        <ul>
                                            <li>
                                                Visit the accounts page.
                                                <a href="/account" class="btn btn-purple" target="_blank">
                                                    Account
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                Select the <b>Change Password</b> section.
                                            </li>
                                            <li>
                                                Edit the fields you need to update.
                                            </li>
                                            <li>
                                                Enter the current password, a new password, and new password
                                                confirmation, then clcik Change Password button or press <b>Enter</b>.
                                            </li>
                                        </ul>
                                        <p>
                                            If the new password is valid and matching, and the current password is
                                            correct, the password will be updated and the user will be notified.
                                            Otherwise, the user will be notified about the failure.
                                        </p>
                                    </div>
                                    <div id="delete-account" class="section-block">
                                        <h4>Delete account</h4>
                                        <p>
                                            The user can delete their account. For that, the user must log in to the
                                            system. To delete the account,
                                        </p>
                                        <ul>
                                            <li>
                                                Visit the accounts page.
                                                <a href="/account" class="btn btn-purple" target="_blank">
                                                    Account
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                            <li>
                                                Select the <b>Delete Account</b> section.
                                            </li>
                                            <li>
                                                Enter the password, then clcik Delete Account button or press
                                                <b>Enter</b>.
                                            </li>
                                        </ul>
                                        <p>
                                            If the password is correct, the account will be deleted and the user will be
                                            notified and then redirected to the home page. Otherwise, the user will be
                                            notified about the failure.
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <li class="nav-item">
                                    <a class="nav-link scrollto" href="#signup-section">Create an Account</a>
                                </li>
                                <nav class="nav doc-sub-menu nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#signup">Sign up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#activate-account">Activate account</a>
                                    </li>
                                </nav>

                                <li class="nav-item">
                                    <a class="nav-link scrollto" href="#signin-section">Login to an Account</a>
                                </li>
                                <nav class="nav doc-sub-menu nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#login">Sign in</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#forgot-password">Forgot password</a>
                                    </li>
                                </nav>

                                <li class="nav-item">
                                    <a class="nav-link scrollto" href="#account-section">Account Settings</a>
                                </li>
                                <nav class="nav doc-sub-menu nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#update-account">Update account details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#change-password">Change account password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scrollto" href="#delete-account">Delete account</a>
                                    </li>
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/common.js" nonce="<%= nonce %>"></script>

    <!-- Bootstrap js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" nonce="<%= nonce %>"
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" nonce="<%= nonce %>"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
        defer></script>

</body>

</html>